{% extends 'base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block body %}
<main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    <h1 class="bd-title" id="content">Основная информация о проекте</h1>
    <p class="bd-lead">Целью данного проекта является практическое использование нейронных сетей для решения задач распознавания личности, предсказания пола и возраста.</p>
    <p class="bd-lead">При обучении модели для распознавания личности генерировались тройки изображений, на двух из которых был один и тот же человек (anchor- и positive- изображения) и на третьем другая личность (negative-изображение). Нейронной сети ставилась задача угадывания кто из пары positive/negative является тем же самым человеком что и человек, который изображен в anchor. Для обучения сети использовалась функция потерь triplet loss, которая "штрафовала" сеть в случае ошибки. Таким образом была получена обучена модель, способная отличать людей друг от друга.</p>
    <p class="bd-lead">Для решения задачи распознавания пола была использована обученная для предыдущей задачи модель (все ее слои, кроме последнего) с добавлением выходного слоя с одним нейроном. Все слои предобученной модели были заморожены. Таким образом обучению был подвержен только последний слой. Использование предобученной модели достаточно для предсказания пола, поскольку она уже научилась выявлять значимые признаки каждой личности и задача состояла только в том как их интерпретировать.</p>
    <p class="bd-lead">Решение задачи распознавания возраста осуществлялось аналогичным образом с использованием предобученной модели. Отличие задач распознавание пола и возраста состоит в типе задачи: для распознавания пола - задача классификации, для предсказания возраста - задача регрессии. Поэтому для каждой из задач были использованы свои функции потерь.</p>
</main>
{% endblock %}