{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="/static/jss/webcam.min.js"></script>
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
	</script>
    <div class="container mt-5">
        <h1>Загрузите фотографию или сделайте снимок с вебкамеры</h1>
        <form method="post">
            <input type="hidden" id="cam_photo" name="cam_photo" value="" style="display:none"><br>
            <input type="file" id="'photo" name="photo" onchange="handleFiles(this.files)" class="form-control-file"><br>
            <input type="button" id="camera_access" value="Получить доступ к камере" onClick="setup()" class="btn btn-primary"><br>
            <div id="my_camera"></div><br>
            <input type="button" id="take_snap" value="Сделать снимок" onClick="take_snapshot()" style="display:none" class="btn btn-primary"><br>
            <div id="results">Ваше фото появится тут...</div><br>
            <input type="submit" id="button" value="Отправить фото" disabled="disabled" class="btn btn-success"><br>
        </form>
        <br>
    </div>

    <script language="JavaScript">
            function handleFiles(files) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('results').innerHTML =
                        '<h2>Ваше изображение:</h2>' +
                        '<img src="'+e.target.result+'" class="img-fluid rounded mx-auto d-block"/>';
                    var raw_image_data =  e.target.result.replace(/^data\:image\/\w+\;base64\,/, '');
                    document.getElementById('cam_photo').value = raw_image_data;
                    document.getElementById('button').disabled = false;
                }

                reader.readAsDataURL(files[0]);
            }

            function setup() {
                    document.getElementById('camera_access').style= "display:none"
                    document.getElementById('take_snap').style= ""
                    Webcam.reset();
                    Webcam.attach( '#my_camera' );
                }
            function take_snapshot() {
                // take snapshot and get image data
                Webcam.snap( function(data_uri) {
                    // display results in page
                    var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                    document.getElementById('cam_photo').value = raw_image_data;
                    document.getElementById('button').disabled = false;
                    document.getElementById('results').innerHTML =
                        '<h2>Ваше изображение:</h2>' +
                        '<img src="'+data_uri+'" class="img-fluid rounded mx-auto d-block"/>';
                } );
            }
    </script>
{% endblock %}