{% extends 'base.html' %}

{% block title %}
Проба камеры
{% endblock %}

{% block body %}


	<h1>WebcamJS Test Page</h1>
	<h3>Demonstrates simple 320x240 capture &amp; display</h3>

	<div id="my_camera"></div>

	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="/static/jss/webcam.min.js"></script>

	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
	</script>

	<!-- A button for taking snaps -->
	<form method="post">
        <input type="button" id="camera_access" value="Получить доступ к камере" onClick="setup()"><br>
		<input type="button" id="take_snap" value="Сделать снимок" onClick="take_snapshot()" style="display:none"><br>
        <input type="hidden" id="cam_photo" name="cam_photo" value="" style="display:none"><br>
		<input type="file" id="'photo" name="photo" onchange="handleFiles(this.files)" class="form-control-file"><br>
		<div id="results" >Your image will appear here...</div><br>
        <input type="submit" id="button" value="Отправить фото" disabled="disabled" class="btn btn-success">
	</form>

	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		function handleFiles(files) {
			var reader = new FileReader();

			reader.onload = function (e) {
				document.getElementById('results').innerHTML =
					'<h2>Here is your image:</h2>' +
					'<img src="'+e.target.result+'"/>';
				var raw_image_data =  e.target.result.replace(/^data\:image\/\w+\;base64\,/, '');
				document.getElementById('cam_photo').value = raw_image_data;
				document.getElementById('button').disabled = false;
       	 	}

        	reader.readAsDataURL(files[0]);
		}

        function setup() {
                document.getElementById('camera_access').style= "display:none"
                document.getElementById('take_snap').style= ""
                Webcam.reset();
                Webcam.attach( '#my_camera' );
            }
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
				// display results in page
				var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
				document.getElementById('cam_photo').value = raw_image_data;
                document.getElementById('button').disabled = false;
				document.getElementById('results').innerHTML =
					'<h2>Here is your image:</h2>' +
					'<img src="'+data_uri+'"/>';
			} );
		}
	</script>
{% endblock %}